<footer>
    <div class="footer-wrapper">
        <div class="footer-left">
            <div class="footer-logo">LOGO Les<br>Musicales<br>du Penthièvre</div>
            <div class="footer-date" x-text="festivalDates">
            </div>
            <div class="footer-festival-location">
                ÉGLISE D'HENANBIHEN
            </div>
            <h1 class="footer-festival-name">Festival de musique classique</h1>
        </div>
        <div class="footer-right">
            <div>
                <span style="font-weight: bold;">Nom de l'association</span><br>
                <div>Adresse de l'association</div>
            </div>

            <div>
                <span style="font-weight: bold;">Contact</span>
                <div>Adresse mail</div>
                <div>Numéro de téléphone</div>
            </div>

            <a style="font-weight: bold;" href="">Mentions légales</a>
            <a style="font-weight: bold;" href="">Politique de confidentialité</a>
        </div>
    </div>
    <div class="footer-credits">
        Design: <a>PIPALOUK · Camille Duband</a> | Site Web: Vincent Nieutin
    </div>
</footer>