<footer>
    <div>
        <div class="footer-date" x-text="festivalDates">
        </div>
        <div>
            ÉGLISE D'HENANBIHEN
        </div>
        <h1>Festival de musique classique</h1>
    </div>
    <div>
        <div style="font-weight: bold;">Nom de l'association</div>
        <div>Adresse de l'association</div>
        <br>
        <div style="font-weight: bold;">Contact</div>
        <div>Adresse mail</div>
        <div>Numéro de téléphone</div>
        <br>
        <a style="font-weight: bold;" href="">Mentions légales</a>
        <a style="font-weight: bold;" href="">Politique de confidentialité</a>
    </div>
</footer>