<header>
    <nav class="navbar navbar-desktop">
        <a class="navlink" href="/">LE FESTIVAL</a>
        <a class="navlink" href="/association.html">L'ASSOCIATION</a>
    </nav>
    <div class="navbar navbar-mobile">
        <img class="menu-icon" id="menu-toggle" src="https://cdn-icons-png.flaticon.com/512/2976/2976215.png" alt="Toggle menu">
    </div>
    <nav class="mobile-menu" id="mobile-menu">
        <ul>
            <li><a class="navlink" href="/">LE FESTIVAL</a></li>
            <li> <a class="navlink" href="/association.html">L'ASSOCIATION</a></li>
        </ul>
    </nav>
</header>