@import "./palette.css";

/**
* Default style overwrite
**/

html {
    font-family: 'OpenSans', sans-serif;
    font-weight: 300;
    font-size: clamp(16px, 2vw, 20px);
    background-color: var(--background);
    color: var(--text);
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

h1 {
    width: fit-content;
    border-top: 3px var(--secondary-text) solid;
    font-size: 2.25rem;
    line-height: 0.78em;
    margin: 0 auto 3rem;
    color: var(--secondary-text);
}

button {
    all: unset;
    display: inline-block;

    cursor: pointer;

    width: fit-content;
    padding: 0.125em 0.325em;
    margin: 0.5em;
    border-radius: 10px;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    font-size: 2rem;
    font-weight: 700;
}

button:hover {
    background-color: var(--btn-hover-bg);
}

button:active {
    background-color: var(--btn-active-bg);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0 2em;
}

.section-content {
    column-count: 3;
    column-gap: 2.5em;
    text-align: justify;
    margin-bottom: 3rem;
}

@media (max-width: 768px) {
    .section-content {
        column-count: 1;
        column-gap: 0;
    }
}

.subsection-title {
    text-align: left;
    border-bottom: 4px solid;
    color: var(--secondary-text);
}

.subsubsection-title {
    font-weight: 400;
    margin: 0;
    color: var(--secondary-text);
}

/**
* Festival section
**/

.festival-events-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.festival-events-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 2em;
}

.event-container {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.festival-events-wrapper>.event-container:first-of-type {
    align-items: flex-end;
    border-right: 2px rgb(59, 0, 0) solid;
}

.festival-events-wrapper>.event-container:last-of-type {
    padding-top: 40px;
    align-items: flex-start;
    border-left: 2px rgb(59, 0, 0) solid;
}

.event-date {
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 0 2.5rem;
    padding: 0.75em;
    color: rgb(255, 245, 224);
}

.event-details {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0 1em;
    color: rgb(59, 0, 0);
}

.festival-events-wrapper>.event-container:first-of-type .event-details {
    align-items: flex-end;
    padding-right: 0.75em;
}

.festival-events-wrapper>.event-container:last-of-type .event-details {
    align-items: flex-start;
    padding-left: 0.75em;
}

.festival-events-wrapper>.event-container:first-of-type .event-details>* {
    text-align: end;
}

.festival-events-wrapper>.event-container:last-of-type .event-details>* {
    text-align: start;
}

.festival-events-wrapper>.event-container:first-of-type .event-date {
    align-items: flex-end;
    background-color: rgb(150, 0, 0);
}

.festival-events-wrapper>.event-container:last-of-type .event-date {
    background-color: rgb(255, 137, 33);
}

.event-time {
    font-weight: bold;
    color: rgb(201, 47, 0);
}

.event-group {
    font-weight: bold;
}

.event-performance {
    font-style: italic;
}

.practical-info-wrapper {
    display: flex;
    gap: 2em;
}

@media (max-width: 768px) {
    .practical-info-wrapper {
        flex-direction: column;
    }
}

.practical-info-item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    text-align: left;
}

.practical-info-item:last-child {
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .practical-info-item:last-child {
        justify-content: flex-start;
    }
}

.practical-info-img-wrapper {
    max-width: 5rem;
}

.practical-info-img {
    max-width: 100%;
    height: auto;
}

.practical-info-txt {
    margin-left: 1rem;
}

.practical-info-txt-date {
    font-size: 2rem;
    font-weight: 500;
}

.practical-info-map {
    height: 30rem;
    margin: 2.5em;
}

.practical-info-subsection {
    position: relative;
    width: 100%;
    margin-bottom: 1.5em;
}

.practical-info-subsection-wrapper {
    display: flex;
    text-align: left;
    gap: 2em;
}

.practical-info-subsection-wrapper>* {
    flex: 1;
}

@media (max-width: 768px) {
    .practical-info-subsection-wrapper {
        flex-direction: column;
        gap: 1em;
    }
}

.practical-info-subsection-wrapper p {
    margin: 0;
}

.practical-info-subsection-wrapper ul {
    margin: 0;
    padding-left: 1em;
}

.subsubsection-footnote {
    margin: 1em 0;
    font-size: 0.8rem;
    text-align: right;
    font-style: italic;
}


/**
* Header
**/
header {
    display: flex;
    height: 3em;
    margin-bottom: 2em;
    padding-bottom: 1em;
    background-color: var(--secondary-bg);
}

.navbar {
    flex: 1;
    display: flex;
}

.navbar-desktop {
    justify-content: center;
    align-items: flex-end;
    gap: 3em;
}

.navbar-mobile {
    display: none;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: flex;
    }
}

.menu-icon {
    height: 1em;
}

.navlink {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--navlink-color);
}

.navlink:hover {
    color: var(--navlink-hover-color);
    text-decoration: none;
}

.navlink:active {
    color: var(--navlink-active-color);
}

/**
* Footer
**/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5em 2em 0.5em;
    color: var(--background);
    background-color: var(--secondary-bg);
}

.footer-wrapper {
    max-width: 1080px;
    display: flex;
    gap: 4em;
}

@media (max-width: 768px) {
    .footer-wrapper {
        flex-direction: column;
    }
}

.footer-wrapper>* {
    display: flex;
    flex-direction: column;
}

.footer-left>* {
    margin-bottom: 15px;
}

.footer-logo {
    height: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: wheat;
    color: black;
}

.footer-date {
    text-align: center;
    padding: 0.33em 0.44em;
    font-size: 2.25rem;
    font-weight: 500;
    border: 3px var(--background) solid;
}

.footer-festival-location {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.footer-festival-name {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    color: var(--background);
    border-width: 1px;
    border-color: var(--background);
    margin: 0;
}

.footer-right {
    align-items: flex-start;
    justify-content: center;
}

.footer-right>* {
    align-self: stretch;
    margin-bottom: 1em;
}

@media (max-width: 768px) {
    .footer-right {
        align-items: center;
    }

    .footer-right>* {
        text-align: center;
    }
}

footer a {
    text-decoration: underline;
}

.footer-credits {
    margin-top: 5em;
    text-align: center;
    font-size: 0.7rem;
}